<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Storage permission for exports on Android 9 and below. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- OpenGL ES 3.0 requirement declaration for Play Store filtering. -->
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />

    <!-- Stylus / S-Pen feature declarations (not required; improves Play Store discoverability). -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen.multitouch.jazzhand" android:required="false" />

    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:requiresSmallestWidthDp="320" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.InkFrame">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode|density|smallestScreenSize"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.InkFrame">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Allow opening .inkframe project files from Files / Drive. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/zip" />
            </intent-filter>
        </activity>
    </application>

</manifest>
